In [17]:
#Import dataset and separate into features and target values
import pandas as pd

df = pd.read_csv("Housing Data.csv")
target = df["Price"]
features = df.drop("Price", axis=1).drop("ID", axis=1)

#Change the date from a string to an int and only keep the year
new_dates = []
for date in df["Date"]:
    new_date = int(date[0:4])
    new_dates.append(new_date)
features["Date"] = new_dates
features

,Date,Bedrooms,Bathrooms,Living room set,Lot art,Floors,Water front,View,Condition,Grade,Set above,Set basement,Year_built,year_renovated,Zipcode,Lat,Long,sqft_living15,sqft_lot15
0,2014,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,2014,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2015,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2014,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,2015,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2014,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,2015,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2014,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,2015,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2014,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [42]:
#split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=3000)

#scale the data according to min/max values
scaler = MinMaxScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [43]:
#LASSO REGRESSION
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score

model = Lasso(alpha = 0.01).fit(X=X_train_scaled, y=y_train)

print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R-squared value for training set:  0.6989551245743065
R-squared value for testing set:  0.7067238991716212

C:\Users\angel\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 14907717080250.562, tolerance: 217424425560.6411
  positive)

In [44]:
#NORMAL MULTIPLE LINEAR REGRESSION
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score

#select a regressor and create the model by fitting the training data
model = LinearRegression().fit(X=X_train_scaled, y=y_train)

print("R^2 for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R^2 for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R^2 for training set:  0.6989551245842066
R^2 for testing set:  0.706723763375656

In [45]:
#RIDGE REGRESSION
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

model = Ridge().fit(X=X_train_scaled, y=y_train)

print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R-squared value for training set:  0.6988446028160967
R-squared value for testing set:  0.7065824042384226

In [40]:
#KNN REGRESSION
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

model = KNeighborsRegressor(n_neighbors = 8).fit(X=X_train_scaled, y=y_train)

print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R-squared value for training set:  0.8088774589261654
R-squared value for testing set:  0.7598319265151898

In [46]:
#SVM REGRESSION
from sklearn.svm import LinearSVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

model = LinearSVR(C=0.01, max_iter = 1000000).fit(X=X_train_scaled, y=y_train)

print("R-squared value for training set: ", r2_score(y_train, model.predict(X_train_scaled)))
print("R-squared value for testing set: ", r2_score(y_test, model.predict(X_test_scaled)))

R-squared value for training set:  -2.161005413864626
R-squared value for testing set:  -2.1582308711274463